<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>

<h3>User Details</h3>

<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Subject</th>
        </tr>
    </thead>
    <tbody>
        {% for i in Users %}
        <tr>
            <td>{{i.Name}}</td>
            <td>{{i.Age}}</td>
            <td>{{i.Subject}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>