<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Static Css</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Style.css' %}">
    <script src="{% static 'js/Script.js' %}"></script>
</head>
<body>

<h2>Python Django</h2>

<p>
    Django is an extremely popular and fully featured server-side web framework
</p>

<img src="{% static 'images/img.png' %}" width="250" height="300">

<button onclick="abc()">Click</button>

</body>
</html>


